<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auctions.mapper.UserMapper">
    
    <insert id="join">
        INSERT INTO user_TB(userId, userPw, userMail, userCollege) VALUES (#{userId}, #{userPw}, #{userMail}, #{userCollege})
    </insert>
    
    <select id="confirmId" resultType="String">
        SELECT userId FROM user_TB WHERE userId = #{id}
    </select>

    <select id="getUser" resultType="com.auctions.domain.UserDTO">
        SELECT userId, userPw, userMail, userCollege FROM user_TB WHERE userId = #{id}
    </select>

    <update id="update">
        UPDATE user_TB SET userPw=#{userPw}, userMail=#{userMail}, userCollege=#{userCollege} WHERE userId = #{userId}
    </update>

</mapper>